.content {
  @include flex-row;
  justify-content: right;
  align-items: center;
  flex-grow: 1;

  border-right: 1px solid #494E6E;

  > .theme {
    @include flex-row-center;
    width: 72px;

    > img {
      width: 19px;
      height: 19px;
    }
  }
}

@media (width >= 768px) {
  .content {
    flex-direction: column;
    justify-content: end;
    border-right: none;

    border-bottom: 1px solid #494E6E;

    > .theme {
      width: 103px;
      height: 103px;
    }
  }
}
