.header {
  @include flex-row-center();

  > .title {
    flex-grow: 1;

    > span {
      color: #888EB0;
    }
  }

  > .options {
    @include flex-row-center();

    > .filterBy {
      @include flex-row-center(0.5rem);
      text-align: right;
      font-weight: var(--text-weight-bold);
      line-height: 15px;
      letter-spacing: -0.25px;
    }

    > .actions {

      button {
        @include flex-row-center(0.5rem);
        border: none;
        border-radius: 24px;
        width: auto;
        height: 48px;
        background-color: #7C5DFA;
        padding: 0.5rem;

        .icon {
          @include flex-row-center(0rem);
          width: 32px;
          height: 32px;
          background-color: white;
          border-radius: 50%;
        }

        .text {
          color: white;
          font-weight: var(--text-weight-bold);
          line-height: 15px;
          letter-spacing: -0.25px;
            margin-right: 0.5rem;
        }
      }
    }
  }
}
