.drop-button-item {
  cursor: pointer;
  width: 100%;

  label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
    cursor: pointer;
    user-select: none;

    input[type='checkbox'] {
      appearance: none;
      height: 16px;
      width: 16px;
      border-radius: 2px;
      background: #DFE3FA;
      cursor: inherit;
    }

    input[type='checkbox']::before {
      display: flex;
      justify-content: center;
      content: url("../../assets/images/icon-check.svg");
      text-align: center;
      opacity: 0;
      border-radius: inherit;
      height: inherit;
      width: inherit;
    }

    input[type='checkbox']:checked::before {
      border-radius: inherit;
      height: inherit;
      width: inherit;
      background-color: #7C5DFA;
      opacity: 1;
    }
  }

  label:hover {
    input[type='checkbox']:not(:checked) {
      border: 1px solid #7C5DFA;
    }
  }
}
