.drop-button-item {
  cursor: pointer;
  width: 100%;

  label {
    @include flex-row;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    user-select: none;

    @include bodyH4;
  }

  label:hover {
    input[type='checkbox']:not(:checked) {
      border: 1px solid $primary;
    }
  }
}
