@import "assets/styles/base";

@font-face {
  font-family: 'Spartan';
  src: url('./assets/fonts/LeagueSpartan-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Spartan';
  src: url('./assets/fonts/LeagueSpartan-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  --text-default-size: 12px;
  --text-weight-bold: 700;
  --text-weight-medium: 500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: 'Spartan', sans-serif;
  font-weight: var(--text-weight-medium);
  font-size: var(--text-default-size);
  line-height: 18px;
  letter-spacing: -0.229px;
  color: rgb(12, 14, 22);
}
