@use 'variables' as *;

@mixin body1 {
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  line-height: 15px;
  letter-spacing: -0.25px;
}

@mixin body2 {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  line-height: 18px;
  letter-spacing: -0.229px;
}

@mixin bodyH1 {
  font-size: $font-size-xxl;
  font-weight: $font-weight-bold;
  letter-spacing: -1px;
}

@mixin bodyH2 {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  letter-spacing: -0.625px;
}

@mixin bodyH3 {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  letter-spacing: -0.8px;
  line-height: 24px;
}

@mixin bodyH4 {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  letter-spacing: -0.25px;
  line-height: 15px;
}

@mixin card {
  border-radius: 8px;
  background: $white;
  box-shadow: $base-box-shadow;
}

@mixin card-popup {
  border-radius: 8px;
  background: $white;
  box-shadow: 0px 10px 20px 0px rgba(72, 84, 159, 0.25);
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}